<mz-navbar style="width: 100vw; top: 0;">
  <div style="    display: flex; z-index: 9999;
    justify-content: space-between; background-color: #FF0080;">
    <a class="ml-5"><img src="assets/Img/logo3.png" style="margin-left: 85%" class="img-fluid mt-2" height="100" width="100" alt=""></a>

<!--    <button mz-button id="btn-sidenav-demo" flat="true" class="text-white">-->
<!--      <i class="material-icons ">menu</i>-->
<!--    </button>-->
  </div>
</mz-navbar>
