.item1 {
  height: 3%;
}

.item2 {
  height: 70%;
  margin: 1.5rem;

}
mz-navbar{
  height: 20%;
}

.grid-container {
  overflow: auto;
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
.button{
  min-width: 60px !important;
  min-height: 60px !important;
  margin: 1%;
  background-size: contain; background-position: center; background-repeat: no-repeat
}

opt{
  background-color: black;
}
::-webkit-input-placeholder { color: black; }

:-moz-placeholder { /* Firefox 18- */ color: black; }

::-moz-placeholder { /* Firefox 19+ */ color: black; }

:-ms-input-placeholder { color: black; }

@font-face {
  font-size: 24px;
}
[hidden] {
  display: none !important;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.move{
  margin-top: 45px;
}
.margen{
  padding: 10px;
}
.button {
  color: inherit;
  background: transparent;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;

  &:hover {
    background: rgba(50, 50, 50, 0.5);
  }
}

.btn-clear {
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
  background: #FF0080;
  color: white;
}

