<div class="grid-container">
  <div class="item1">
    <a></a>
    <div
      style="display: flex; justify-content: center; align-items: center;position: fixed; width: 100vw; top: 10vh;
    height: 10vh;
    background-color: white;">
      <input (keyup)="applyFilter($event.target.value)" [(ngModel)]="search" placeholder="Ejemplo: Ref 05/290" style="width: 80%;
        height: 60%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid black;
        padding: 0 4px 0 4px;
        margin-top: 20px;
">
    </div>
  </div>
  <div class="item2" *ngIf="search===''">
    <table class="move">
      <p style="font-weight: bold;">Colección de Dama </p>
      <p style="align-items: center;justify-content: center; font-weight: bold;">"Vestidos, Blusas, Pantalones, Short,
        Blusones"</p>
      <!-------------------------------------Inspiracion 2------------------------------------------------------------>
      <tr (click)="router.navigate(['/main/listaproducto/Inspiracion2'])">
        <th>
          <span style=" border-radius: 3px;width:40%;height:90%;background-color:red;color:white;margin-left:70%;padding: 3px 10px;
          ">Nuevo</span>
          <img style="margin-top: -0.5rem;" src="https://frixio.co/images/Portada/Inspiracion2.png" class="img-fluid"></th>
      </tr>
      <p (click)="router.navigate(['/main/listaproducto/Inspiracion2'])"
         style="margin: -1.5rem; font-weight: bold; align-items: center; display: flex; justify-content: center;">
        <a><h4>Inspiración 2</h4></a>
      </p>
      <!-------------------------------------Inspiracion 1------------------------------------------------------------>
      <tr (click)="router.navigate(['/main/listaproducto/Inspiracion1'])">
        <th>
          <span style=" border-radius: 3px;width:40%;height:90%;background-color:red;color:white;margin-left:70%;padding: 3px 10px;
          ">Nuevo</span>
          <img style="margin-top: -0.5rem;" src="https://frixio.co/images/Portada/Inspiracion1.png" class="img-fluid"></th>
      </tr>
      <p (click)="router.navigate(['/main/listaproducto/Inspiracion1'])"
         style="margin: -1.5rem; font-weight: bold; align-items: center; display: flex; justify-content: center;">
        <a><h4>Inspiración 1</h4></a>
      </p>
      <!-------------------------------------Origen------------------------------------------------------------>
      <tr (click)="router.navigate(['/main/listaproducto/Origen Dama'])">
        <th><img src="https://frixio.co/images/Portada/Origen-Dama.png" class="img-fluid"></th>
      </tr>
      <p (click)="router.navigate(['/main/listaproducto/Origen Dama'])"
         style="margin: -1.5rem; font-weight: bold; align-items: center; display: flex; justify-content: center;">
        <a><h4>Origen</h4></a>
      </p>
      <!-------------------------------------Hecho a mano------------------------------------------------------------>
<!--      <tr (click)="router.navigate(['/main/listaproducto/Hecho a mano Dama'])">-->
<!--        <th>-->
<!--          <img src="assets/images/Portada/Hecho-a-mano-Dama.png" class="img-fluid">-->
<!--        </th>-->
<!--      </tr>-->
<!--      <p (click)="router.navigate(['/main/listaproducto/Hecho a mano Dama'])"-->
<!--         style="margin: -1.5rem; font-weight: bold; align-items: center; display: flex; justify-content: center;">-->
<!--        <a><h4>Hecho a mano</h4></a>-->
<!--      </p>-->
      <!----------------------------------TERMINA CATALOGO DAMA--------------------------------->
      <tr></tr>
      <hr style="background-color: black">
      <p style="font-weight: bold;">Colección de Caballero </p>
      <p style="align-items: center;justify-content: center; font-weight: bold;">"Guayaberas, Pantalones en lino,
        Bermudas"</p>
      <!-------------------------------------Origen------------------------------------------------------------>
      <tr (click)="router.navigate(['/main/listaproducto/Origen caballero'])">
        <th>
          <img src="https://frixio.co/images/Portada/Origen-Hombre.png" class="img-fluid">
        </th>
      </tr>
      <p (click)="router.navigate(['/main/listaproducto/Origen caballero'])"
         style="margin: -1.5rem; font-weight: bold; align-items: center; display: flex; justify-content: center;">
        <a><h4>Origen</h4></a>
      </p>
      <tr (click)="router.navigate(['/main/listaproducto/Hecho a mano Caballero'])">
        <th>
          <img src="https://frixio.co/images/Portada/Hecho-a-mano-Caballero.png" class="img-fluid">
        </th>
      </tr>
      <!-------------------------------------Hecho a mano------------------------------------------------------------>
      <tr>
        <p (click)="router.navigate(['/main/listaproducto/Hecho a mano Caballero'])"
           style="margin: -1.5rem; font-weight: bold; align-items: center; display: flex; justify-content: center;">
          <a><h4>Hecho a mano</h4></a>
        </p>
      </tr>
      <!------------------------------------TERMINA CATALOGO CABALLERO---------------------------------------->
      <tr></tr>
      <hr style="background-color: black">
      <p style="font-weight: bold;">Colección de Ceremonias </p>
      <p style="align-items: center;justify-content: center; font-weight: bold;">"Ajuares, Vestidos, Guayaberas,
        Pantalones en lino "</p>
      <tr (click)="router.navigate(['/main/listaproducto/Ceremonias bebe'])">
        <th>
          <img src="https://frixio.co/images/Portada/bebes.png" class="img-fluid">
        </th>
      </tr>
      <!-------------------------------------Ceremonias Bebe------------------------------------------------------------>
      <tr>
        <p (click)="router.navigate(['/main/listaproducto/Ceremonias bebe'])"
           style="margin: -1.5rem; font-weight: bold; align-items: center; display: flex; justify-content: center;">
          <a><h4>Bebés</h4></a>
        </p>
      </tr>
      <!-------------------------------------Clerical------------------------------------------------------------>
      <tr (click)="router.navigate(['/main/listaproducto/Clerical'])">
        <th>
          <img src="https://frixio.co/images/Portada/clerical.png" class="img-fluid">
        </th>
      </tr>
      <p (click)="router.navigate(['/main/listaproducto/Clerical'])"
         style="margin: -1.5rem; font-weight: bold; align-items: center; display: flex; justify-content: center;">
        <a><h4>Clerical</h4></a>
      </p>
      <!-------------------------------------Primera Comunion------------------------------------------------------------>
      <tr (click)="router.navigate(['/main/listaproducto/Primera comunion'])">
        <th><img src="https://frixio.co/images/Portada/prom.png" class="img-fluid"></th>
      </tr>
      <p (click)="router.navigate(['/main/listaproducto/Primera comunion'])"
         style="margin: -1.5rem; font-weight: bold; align-items: center; display: flex; justify-content: center;">
        <a><h4>Primera Comunión</h4></a>
      </p>
    </table>
  </div>
  <div class="item2" *ngIf="search!==''">
    <table class="table table-bordered" style="margin-top: 35px">
      <thead>
      <tr>
        <th scope="col">Referencia</th>
        <th scope="col">Público</th>
        <th scope="col">Imagen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of producto">
        <td (click)="bottomSheetModal.openModal()">{{product.ref}}</td>
        <td (click)="bottomSheetModal.openModal()">{{product.pub}}</td>
        <td><img (click)="bottomSheetModal.openModal()" wigth=50px; height="50px" src="{{product.img}}" alt="">
          <mz-modal #bottomSheetModal [fixedFooter]="true" [fullscreen]="true" [options]="modalOptions">
            <mz-modal-content>
              <img wigth=400px; height="400xp" src="{{product.img}}">
            </mz-modal-content>
            <mz-modal-content class="margen">
              <table>
                <tr>
                  <th scope="col">Referencia</th>
                  <th scope="col">Público</th>
                </tr>
                <tr>
                  <td><p>{{product.ref}}</p></td>
                  <td><p>{{product.pub}}</p></td>
                </tr>
              </table>
            </mz-modal-content>
            <mz-modal-footer>
              <button mz-button [flat]="true" mz-modal-close>Cerrar</button>
            </mz-modal-footer>
          </mz-modal>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




