.item2 {
  margin: 10px;
}

.grid-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.button {
  min-width: 60px !important;
  min-height: 60px !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}

.btn-clear {
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
  background: #FF0080;
  color: white;

}

.app-title {
  font-size: 24px;
}

.box-title {
  font-size: 20px;
}

.box-container {
  box-sizing: border-box;
  width: 800px;
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  padding: 24px;
  margin: 24px auto;
  border-radius: 4px;

  color: #555;
  background-color: #eee;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18),
  0 6px 6px rgba(0, 0, 0, 0.25);
}

.info-container {
  padding: 12px 16px;

  line-height: 24px;
}

.action-container,
.content-container {
  position: relative;

  overflow: auto;
  height: 63vh;
  width: 80vw;
  min-height: 0;
  margin: 8px 6px;
  border-radius: 4px;

  background-color: #fff;
}

.action-container {
  padding: 16px;
}

.vertical-container,
.horizontal-container {
  min-height: 0 !important;
}

.action-button {
  box-sizing: border-box;
  width: calc(100% - 16px);
  min-height: 35px;
  padding: 4px 16px;
  margin: 8px;
  border: 1px solid #555;
  border-radius: 4px;

  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
}

.action-button:hover {
  color: #fff;
  background-color: #555;
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  color: #aaa;
  background-color: #eee;
}

.swiper-slide-active {
  color: #fff;
  // background-color: #aaa;
}
.image2{
  height: 280px;
  margin-left: 42px;
  margin-top: 15px;
}
.wp{
  width: 20px;
  height: 20px;
}
.tel{
  margin-top: -11px;
}

