<div class="grid-container" style="margin-bottom: 10vh">
  <div class="item1">
    <a></a>
  </div>
  <div class="item2">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Referencia</th>
        <th scope="col">Público</th>
        <th scope="col">Imagen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let producto of productos">
        <td (click)="modal(producto.id)">{{producto.ref}}</td>
        <td (click)="modal(producto.id)">{{format(producto.pub)}}</td>
        <td><img (click)="modal(producto.id)" wigth=50px; height="50px" src="{{producto.img}}">
        </td>
      </tr>
      </tbody>
    </table>
    <mz-modal #bottomSheetModal [fixedFooter]="true" [fullscreen]="true">
      <mz-modal-content>

        <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
          <swiper *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [config]="config"
                  [disabled]="disabled" (indexChange)="onIndexChange($event)"
                  (swiperTransitionStart)="onSwiperEvent('transitionStart')"
                  (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
            <div *ngFor="let prod of products" class="swiper-slide">
              <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                <img [src]="prod.img" alt="modelo" class="image2">
                <table class="table table-bordered" style="margin-top: 10px; font-weight: bold">
                  <tr>
                    <td>Referencia</td>
                    <td>Público</td>
                  </tr>
                  <tr>
                    <td>{{prod.ref}}</td>
                    <td>{{format(prod.pub)}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </swiper>
        </div>
      </mz-modal-content>
      <mz-modal-content>
        <h5>Escribenos a nuestro WhatsApp</h5>
        <p><img class="wp" src="assets/Img/wp.png"><a href="https://api.whatsapp.com/send?phone=3206930664">3206930664</a></p>
        <p><img class="wp" src="assets/Img/wp.png"><a href="https://api.whatsapp.com/send?phone=573137402856">3137402856</a></p>
        <p class="tel"><img class="wp" src="assets/Img/wp.png"><a href="https://api.whatsapp.com/send?phone=573104203383" >3104203383</a></p>
        <p class="tel"><img class="wp" src="assets/Img/wp.png"><a href="https://api.whatsapp.com/send?phone=573135564217">3135564217</a></p>
      </mz-modal-content>
      <mz-modal-footer>
        <a mz-button [flat]="true" mz-modal-close>Cerrar</a>
      </mz-modal-footer>
    </mz-modal>
    <button mat-button type="button" class="button btn-clear" id="modal" (click)="bottomSheetModal.openModal()"
            style="opacity: 0">Va
    </button>
  </div>
</div>
<button mat-button type="button" class="button btn-clear" routerLink="/" style="font-size: 20px">Volver a catálogos</button>

