<app-header></app-header>
<!--<mz-sidenav>-->
<!--  <mz-sidenav-header>-->
<!--    <mz-navbar>-->
<!--      <a>Menu Frixio</a>-->
<!--    </mz-navbar>-->
<!--  </mz-sidenav-header>-->
<!--  <mz-sidenav-link>-->
<!--    <a routerLink="/main" (click)="sidenav.opened = !sidenav.opened"><i class="material-icons">home</i>Inicio</a>-->
<!--  </mz-sidenav-link>-->


<!--</mz-sidenav>-->
