@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~swiper/dist/css/swiper.min.css';
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;

  & > * {
    width: 90% !important;
  }
}

td, th {
  text-align: center !important;
}

.center-center {
  justify-content: center;
  align-items: center;
}

.m-5 {
  margin: 2em !important;
}

//input {
//  width: 100% !important;
//}

label {
  font-size: 2rem;
}
div.nav-wrapper{
  background-color:#FF0080;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
